.ipynb_checkpoints
terms_and_conditions/**
AZDIAS_Feature_Summary.csv
clean_customer_population_data.csv
clean_general_population_data.csv
customer_population_data_with_nans_20200402_115607.csv
feature_information_with_binary_categories_encoded.csv
feature_information_without_dropped_columns.csv
feature_information_without_mixed_type_columns.csv
feature_information_without_multivariable_columns.csv
general_population_data_with_binary_categories_encoded.csv
general_population_data_with_nans_wrangling_data_1.csv
general_population_data_with_nans_wrangling_data_2.csv
general_population_data_with_nans.csv
general_population_data_without_mixed_type_columns.csv
general_population_data_without_multivariable_categories.csv
general_population_data_without_outlier_columns.csv
general_population_data_without_outlier_rows.csv
myapp.log
Udacity_AZDIAS_Subset.csv
Udacity_CUSTOMERS_Subset.csv
wrangling_data_1.ipynb
wrangling_data_2.ipynb
