.ipynb_checkpoints
backup_data/**
terms_and_conditions/**
AZDIAS_Feature_Summary.csv
clean_customer_population.csv
clean_general_population.csv
customer_demographics_with_nans_20200402_115607.csv
feature_summary_with_binary_categories_encoded.csv
feature_summary_without_mixed_type_columns.csv
feature_summary_without_multivariable_categories.csv
feature_summary_without_outlier_columns.csv
general_demographics_outlier_rows.csv
general_demographics_with_binary_categories_encoded.csv
general_demographics_with_nans_wrangling_data_1.csv
general_demographics_with_nans_wrangling_data_2.csv
general_demographics_with_nans.csv
general_demographics_without_mixed_type_columns.csv
general_demographics_without_multivariable_categories.csv
general_demographics_without_outlier_columns.csv
general_demographics_without_outlier_rows.csv
myapp.log
Udacity_AZDIAS_Subset.csv
Udacity_CUSTOMERS_Subset.csv
wrangling_data_1.ipynb
wrangling_data_2.ipynb
